<!DOCTYPE html>

<html lang="en" ng-app="app.docloud">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="IBM Decision Optimization : DOcloud GitHub catalog">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="resources/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="resources/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="resources/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="resources/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="resources/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="resources/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="resources/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="resources/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="resources/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="resources/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="resources/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="resources/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="resources/favicons/manifest.json">
    <link rel="shortcut icon" href="resources/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="resources/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>IBM Decision Optimization - DOcloud GitHub Catalog</title>
    <link rel="icon" href="images/favicon32.png"><!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous" type="text/css"><!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css"><!-- Custom CSS -->
    <link href="resources/css/main.min.css" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top teal1" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://developer.ibm.com/docloud">IBM Decision Optimization <span class="lighten">Dev</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="https://developer.ibm.com/docloud/docs/welcome/">Explore Docs</a></li>

                    <li><a href="https://developer.ibm.com/answers/smartspace/docloud/">Get Answers</a></li>

                    <li><a href="https://developer.ibm.com/docloud/support/">Get Support</a></li>

                    <li><a href="https://developer.ibm.com/docloud/try-docloud-free/">Try it Free</a></li>

                    <li><a href="https://developer.ibm.com/docloud/pricing-plans/">Pricing</a></li>

                    <li><a href="https://developer.ibm.com/docloud/blog/">Blog</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- Page Content -->
    <!-- Page Core -->
    <div class="container main">
	  <!-- Sidebar -->
		<div class="col-md-3 visible-md visible-lg docloud-sidebar">
			<p>Welcome to Decision Optimization on Cloud (DOcloud) catalog on Github.</p>
			<p>Soon you will have more samples available and the possibility to easily filter them.</p>
			<p>Already looking for some type of samples? <a href="">Let us know</a></p>
		</div>
		<!-- /.Sidebar --> 
		<!-- Main --> 
		<div class="col-sm-12 col-md-9">  
    <!-- Page Header -->
      <div class="row header">
        <div class="col-lg-12">
          <h1 class="page-header visible-md visible-lg"><span class="teal1">DOcloud</span> Github <span class="teal1">Catalog</span> <span class="fa fa-github"></span></h1>
          <h2 class="page-header visible-sm"><span class="teal1">DOcloud</span> Github <span class="teal1">Catalog</span> <span class="fa fa-github"></span></h2>
          <h4 class="page-header visible-xs"><span class="teal1">DOcloud</span> Github <span class="teal1">Catalog</span> <span class="fa fa-github"></span></h4>
        </div>
      </div><!-- /.row -->
      <!-- /.Page Header -->

			<!-- Cards container -->
      <div ng-controller="cardsCtrl">
        <!-- Cards Controllers Row -->
        <div class="row controlsBar">
          <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs">
            <div class="docloud-search-input">
							<div class="input-group">
								<input type="text" ng-model="cardsNameContains" class="search-query form-control" placeholder="Search in catalog..." name="srch-term" id="srch-term">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
      			</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<ul class="nav nav-pills pull-right" ng-init="tab = 1">
							<li role="presentation" class="dropdown filterby">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter by: <span class="caret"></span></a>
								<ul class="dropdown-menu">
							    <li ng-class="{'':'active'}[cardsFilteredBy]">
							    	<a ng-click="cardsFilteredBy = ''" href="">ALL</a>	
							    </li>							    
									<li role="separator" class="divider"></li>
							    
							    <li ng-class="{true:'active',false:''}[cardsFilteredBy===filter.selector]" ng-repeat="filter in filters.categories">
							    	<a ng-click="getCtrlScope().cardsFilteredBy = filter.selector;" href="">{{ filter.label }}</a>		
							    </li>
							    
									<li role="separator" class="divider"></li>
							    
							    <li ng-class="{true:'active',false:''}[cardsFilteredBy===filter.selector]" ng-repeat="filter in filters.languages">
							    	<a ng-click="getCtrlScope().cardsFilteredBy = filter.selector;" href="">{{ filter.label }}</a>		
							    </li>
							    
								</ul>
								</li>	
								<li role="presentation" class="dropdown sortby">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
									<ul class="dropdown-menu">
								    <li ng-class="{'name-ascending':'active'}[cardsSortedBy]">
								    	<a ng-click="cardsSortedBy = 'name-ascending'" href="">Name: Ascending</a>							        
								    </li>
							    
								    <li ng-class="{'name-descending':'active'}[cardsSortedBy]">
								    	<a ng-click="cardsSortedBy = 'name-descending'" href="">Name: Descending</a>	
								    </li>
								    
										<li role="separator" class="divider"></li>
								    
								    <li ng-class="{'categories-ascending':'active'}[cardsSortedBy]">
								    	<a ng-click="cardsSortedBy = 'categories-ascending'" href="">Category: Ascending</a>	
								    </li>
								    
								    <li ng-class="{'categories-descending':'active'}[cardsSortedBy]">
								    	<a ng-click="cardsSortedBy = 'categories-descending'" href="">Category: Descending</a>	
								    </li>
								    
										<li role="separator" class="divider"></li>
								    
								    <li ng-class="{'developments-ascending':'active'}[cardsSortedBy]">
								    	<a ng-click="cardsSortedBy = 'developments-ascending'" href="">Development: Ascending</a>	
								    </li>
						    
								    <li ng-class="{'developments-descending':'active'}[cardsSortedBy]">
								    	<a ng-click="cardsSortedBy = 'developments-descending'" href="">Development: Descending</a>	
								    </li>
									</ul>
								</li>	
								<li role="presentation" ng-class="{active:tab===1}" class="view-selector"><a href ng-click="tab = 1"><i class="fa fa-th-large"></i></a></li>
								<li role="presentation" ng-class="{active:tab===2}" class="view-selector"><a href ng-click="tab = 2"><i class="fa fa-list-ul"></i></a></li>
							</ul>
						</div>
	          <div class="col-xs-12 col-sm-6 col-md-6 visible-xs-block">
		          <div class="docloud-search-input">
								<div class="input-group">
									<input type="text" ng-model="cardsNameContains" class="search-query form-control" placeholder="Search in catalog..." name="srch-term" id="srch-term">
									<div class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
									</div>
								</div>
		          </div>
						</div>
				
            </div><!-- /.row -->
            
            <!--  Cards Data Row -->
            <div class="row" ng-show="tab === 1">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 full-card preload" ng-repeat="card in cards" ng-class="{visible:cards.length>=1}">
                <div class="rollover2 docloud-card active-card" ng-class="card.class">
	                <div class="rollover">
	                  <div class="card">
                      <span class='author' ng-bind="card.author"></span>
                      <h6 ng-bind="card.name"></h6>
                      <p class="description" ng-bind="card.description"></p>
                    </div> <!-- /.card -->
										<div class="overlay">
                   		<div class="wrapper"><a href="{{ card.url }}" target="_blank">Open <span class="fa fa-github"></span></a></div>
                  	</div> <!-- /.overlay -->
                  </div> <!-- /.rollover -->
                  <a class="icon btn btn-primary btn-fab btn-raised icon-material-replay withripple" id="first" href="javascript:void(0)">
                    <div class="ripple-wrapper">	                        
                    	<span class="fa" ng-class="{'cat-orange':'fa-sitemap','cat-green':'fa-desktop','cat-blue':'fa-cubes','cat-red':'fa-cogs','cat-purple':'fa-mobile'}[card.class]"></span>
										</div>
                	</a> <!-- /icon -->
                  <div class="well">
                      <div class="categories"><span class="category" ng-repeat="category in card.categories" ng-bind="category"></span></div>
                      <div class="languages"><span class="language" ng-repeat="development in card.developments" ng-bind="development"></span></div>
                  </div> <!-- /.well -->
                </div>
              </div>
            </div><!-- /.row -->
            <!-- / Cards Data Row -->
            
            <!-- / Table Data Row -->
            <div class="row" ng-show="tab === 2">
	            <div class="table-responsive preload cardsTable" ng-class="{visible:cards.length>=1}">
						    <table class="table table-striped">
							
							    <thead>
							      <tr>
							        <th>
							          Name 
							        </th>
							        <th>
							          Description 
							        </th>
							        <th>
							          Category 
							        </th>
							        <th>
							          Development 
							        </th>
							        <th>
							          Author 
							        </th>
							      </tr>
							    </thead>
					    
							    <tbody>
							      <tr  ng-repeat="card in cards">
							        <td><a href="{{ card.url }}" target='_blank'>{{ card.name }}</a></td>
							        <td>{{ card.description }}</td>
							        <td><span class="category" ng-repeat="category in card.categories" ng-bind="category" ng-class="{'':'hidden'}[category]"></span></td>
							        <td><span class="category" ng-repeat="development in card.developments" ng-bind="development" ng-class="{'':'hidden'}[development]"></span></td>
							        <td>{{ card.author }}</td>
							      </tr>
							    </tbody>
							    
							</table>
	          </div>
				</div><!-- /.row -->
            <!-- / Table Data Row -->
      </div> 
    </div> 
    </div>
    <!-- /.Page Core -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script> 
	<!-- Bootstrap Core JavaScript -->
	         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous" type="text/javascript"></script> 
	<!-- Angular Core JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js" type="text/javascript"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
  	<!-- Bootstrap Core JS -->
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js" type="text/javascript">
	</script> 
	<!-- Custom JS --> 
	<script src="resources/js/main.js" type="text/javascript"></script> 
	<script src="resources/js/cards/app.js" type="text/javascript"></script>
	<script src="resources/js/cards/services.js" type="text/javascript"></script>
	<script src="resources/js/cards/controllers.js" type="text/javascript"></script>
</body>
</html>
