@import "../../bower_components/bootstrap/less/variables";
@import "variables";
@import "fonts";
@import "banner";
@import "nav";
@import "cards";
body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  /* 16 * 0.0625 = 1px */
  letter-spacing: 0.0625em;
	.container.main {
		width: 1270px;
	}  
}